@font-face 
{
    font-family: defFont;
    src: url(PAPYRUS.TTF);
}
html,body
{
    padding:0;
    margin:0;
    min-height:100%;
    width:100%;
    overflow: hidden;
    transition-property: background;
    -webkit-user-select: none;
    user-select: none;
}
*
{
    font-family: defFont;
}
canvas
{
    border-radius: 20px;
    
}
#colorSelector
{
    position: absolute;
    width:100px;
    height:70px;
    border-radius: 30px;
    background-color: #5ab9c1;
    border:none;
    filter:drop-shadow(0px 0px 30px black);
    text-align: center;
    font-size: 50px;
    top:20px;
    transition-duration: 0.8s;
    transition-property: left;
    z-index: 2;
}
label
{
    position: absolute;
    width:100px;
    height:70px;
    border-radius: 100px;
    z-index: 2;
    background-color: #000000;
    filter:drop-shadow(0px 0px 30px rgb(4, 4, 4));
    
    box-shadow: 0 0 20px white ;
    text-align: center;
    font-size: 50px;
    transition-duration: 0.8s;
    transition-property: color,left,background-color;
    
}

.draggable
{
    position:absolute;
    
    width: 80px;
    height: 80px;
    transition-property: width,height,left,top,filter;
    transition-duration: 0.8s;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#chessBoard
{
    position:absolute;
    filter:drop-shadow(0px 0px 40px black);
    top:25px;
    display: grid;
    transition-duration: 0.8s;
    transition-property: left;
    
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8,80px);
}
.boardSquares
{
    width:80px;
    height:80px;
    border-radius: 0px;
    border:none;
    transition-duration: 0.5s;
}
#container
{
    transition-duration: 0s;
    opacity: 0;
}
#Shockwave_canvas
{
    position:absolute;
    z-index: 4;
    left:0px;
    top:0px;

}