:root
{
    --boardOffsetY:25px;
}
@font-face 
{
    font-family: defFont;
    src: url(PAPYRUS.TTF);
}
html,body
{
    padding:0;
    margin:0;
    min-height:100%;
    width:100%;
    overflow:hidden;
    transition-property: background-color;
    -webkit-user-select: none;
    user-select: none;
}
*
{
    font-family: defFont;
    transition-duration: 0.5s;
}
canvas
{
    border-radius: 20px;
    
}
h2{
    text-align: center;
}
img
{
    width:80px;
    height:80px;
    border:none;
}
select
{
    background-color: rgba(0,0,0,0);
    border:1px solid black;
    border-radius: 10px;
}
#colorSelector
{
    width:200px;
    height:50px;
    position:relative;
    border-radius: 10px;
    background-color: #5ab9c1;
    border:none;
    filter:drop-shadow(0px 0px 15px black);
    text-align: center;
    font-size: 50px;
    top:20px;
    transition-property: left;
}
.playerLabel
{
    position: absolute;
    width:100px;
    height:420px;
    border-radius: 60px;
    z-index: 20;
    color:white;
    text-align: center;
    font-size: 50px;
    transition-property: color,transform,background-color,filter;
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(2px);
}
.endangered
{
    animation: danger 1s infinite;
}
.myTurn
{
    animation: turn 15s infinite;
}
@keyframes turn
{
    0%
    {
        background-color: rgb(78, 169, 85);
    }
    50%
    {
        background-color: rgb(18, 111, 78);
    }
    100%
    {
        background-color: rgb(78, 169, 85);
    }
}
.ChessPiece
{
    position:absolute;
    font-size: 60px;
    text-align: center;
    width: 80px;
    height: 80px;
    transition-property: transform,filter;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#chessBoard
{
    position:absolute;
    width:640px;
    height:640px;
    filter:drop-shadow(0px 0px 40px black);
    top:25px;
    display: grid;
    transition-property: transform;

    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8,80px);
}
.boardSquares
{
    width:80px;
    height:80px;
    border-radius: 15px;
    border:none;
}

#Shockwave_canvas
{
    position:absolute;
    width:400px;
    height:400px;
    transition-duration: 0ms;
    border:50px soild red;
}
.shadowed
{
    filter:drop-shadow(0px 0px 10px black);
}
#sideBarDiv
{
    width:100%;
    height:0px;
    position: fixed;
    left:0px;
    top:0px;
    background-color: black;
    overflow-y: hidden;
    transition-property: height;
    z-index: 6;
    border-radius: 20px;
    display:grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,20%);
}
#showHideBtn
{
    position:fixed;
    width:100%;
    height:25px;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    z-index: 6;
    color:white;
    font-size: 20px;
    border:none;
}
.sidebarElements
{
    font-size: 30px;
}
#bloodSplash
{
    width:80px;
    height:80px;
    position: absolute;
}
.graveyard
{
    display:grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(4,80px);
    width:240px;
    height:320px;
    position:absolute;
    left:0px;
    top:0px;
    transition-property: transform;
    /*border:5px solid red;*/
    margin-left:10px;
}
#shock
{
    transition-duration: 0ms;
}